.header {
    width: 1320px;
    height: 100px;
    font-family: NanumSquare;
    padding-top: 50px;
    padding-left:300px;
    padding-right: 300px;
}

.logo {
    display: inline-block;
    color: #2F5FD2;
    margin-right: 450px;
    height: 43px;
    font-weight: 800;
    font-size: 40px;
    line-height: 45px;
    cursor: pointer;
}

.menu {
    display: inline-block;
}

.menu-item {
    display: inline-block;
    margin-left: 50px;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
}