* {
    font-family: NanumSquare;
}

.banner {
    height: 500px;
    padding-left:300px;
    padding-top: 195px;
    background-color: rgba(60, 124, 240, 0.92);
}
.banner > p {
    font-weight: 800;
    font-size: 85px;
    line-height: 96px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.banner > span {
    font-size: 30px;
    line-height: 45px;
    color: #F7F8FA;
}

.first, .second {
    height: 1000px;
    padding-left:300px;
    padding-right: 300px;
    padding-top: 110px;
    text-align: center;
    border: 1px solid black;
    z-index:-1;
}
.first > span {
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
}
.first > p, .second > p {
    margin-top: 40px;
    font-size: 23px;
    color: #626262;
}
.second > p, .second > span, .second > #que {
    color: #FFFFFF;
}
#que {
    font-weight: 800;
    font-size: 36px;
    line-height: 41px;
    color: #000000;
}

.first {
    background-image: url('../assets/first-back.png');
}

.second {
    background-image: url('../assets/second-back.png');
    height: 700px;
    padding-top: 400px;
}

#block {
    margin-top: 120px;
    text-align: left;
    padding-left:300px;
    padding-right: 250px;
}

#one,#two,#three,#four {
    display: flex;
    height: 130px;
    margin-bottom: 30px;
}

.icon {
    width: 87px;
    height: 100px;
    padding: 20px;
}

.dcp {
    font-size: 24px;
    padding-top: 50px;
    padding-left: 40px;
}