.manage {
    display: flex;
    height: 600px;
    background: #F7F8FA;
    padding-top: 80px;
    padding-left: 250px;
    padding-right: 300px;
    padding-bottom: 50px;
}

.manageside {
    padding: 100px;
    padding-left: 50px;
    width: 500px;
}

.manage-title {
    width:500px;
    font-weight: bold;
    font-size: 45px;
    line-height: 49px;
    text-align: center;
    margin: 50px 800px 20px 0;
}

.manage-des {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 50px;
}
.input-container {
    padding-top: 100px;
}

.file {
    display: flex;
    padding: 50px 0;
}

.timetable-down { 
    position: relative;
    width: 355px;
    background: #FFFFFF;
    border: 1px solid #000000;
    font-size: 18px;
    text-align: left;
    padding: 12px 15px ;
    margin: 20px 20px;
    cursor: pointer;
}   

.timetable-up {
    position: absolute;
    top: 0; left: 0;
    width: 370px;
    opacity: 0;
}

.input-label {
    position: relative;
    width: 370px;
    top: 120px;
    font-size: 18px;
    padding:13px 28px;
    background: #FFFFFF;
    border: 1px solid #000000;
    cursor: pointer;
}

.upload { 
    position: absolute;
    top: 600px;
    right: 550px;
    width: 183px;
    height: 45px;
    background: rgba(60, 124, 240, 0.92);
    border: 1px solid rgba(60, 124, 240, 0.92);
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.filebox {
    position: relative;
    padding: 20px;
}
.filebox input[type="file"] { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0; 
} 

.filebox label { 
    display: inline-block; 
    height: 22px;
    padding: .5em .75em; 
    font-size: inherit; 
    line-height: normal; 
    vertical-align: middle; 
    background-color: #e2e2e2; 
    cursor: pointer; 
    border: 1px solid black; 
    border-radius: .25em; 
    margin-left: 10px;
} 
.filebox .upload-name { 
    display: inline-block;
    margin-left: 3px;
    padding: .5em .75em; /* label의 패딩값과 일치 */ 
    line-height: normal; 
    width: 245px;
    height: 24px;
    font-size: 16px;
    background-color: #ffffff; 
    border: 1px solid black;  
}

.select-class {
    padding: 10px 150px;
    
}

.select-class > select {
    font-size: 25px;
}

.select-class .class-value {
    margin-left: 30px;
    font-size: 25px;
    width: 70px;
    text-align: center;
}