.manage {
    display: flex;
    height: 600px;
    background: #F7F8FA;
    padding-top: 80px;
    padding-left: 250px;
    padding-right: 300px;
    padding-bottom: 50px;
}

.manageside {
    padding: 100px;
    padding-left: 50px;
    width: 500px;
}

.manage-title {
    width:500px;
    font-weight: bold;
    font-size: 45px;
    line-height: 49px;
    text-align: center;
    margin-right: 800px;
    margin-bottom: 20px;
}

.manage-des {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 50px;
}

.file {
    padding: 100px;
}

.timetable-down { 
    position: relative;
    top: 100px;
    width: 500px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #000000;
    font-size: 18px;
    text-align: left;
    padding-left: 30px;
    cursor: pointer;
}   
.timetable-up {
    position: relative;
    top: 140px;
    width: 480px;
    background: #FFFFFF;
    border: 1px solid #000000;
    font-size: 18px;
    padding: 5px;
    padding-left: 15px;
    cursor: pointer;
}

.upload { 
    position: relative;
    left:150px;
    top: 200px;
    width: 183px;
    height: 45px;
    background: rgba(60, 124, 240, 0.92);
    border: 1px solid rgba(60, 124, 240, 0.92);
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}