.meal {
    height: 650px;
    background: #F7F8FA;
    padding-top: 80px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
    text-align: center;
}

.meal-title {
    font-weight: bold;
    font-size: 43px;
    line-height: 49px;
    text-align: center;
    margin-bottom: 20px;
}

.meal-school {
    font-size: 30px;
    text-align: center;
    color: #000000;
}

.meal-content {
    margin-top: 30px;
    width: 60rem;
    height: 23.875rem;
    justify-content: space-between;
    display: inline-block;
}